# MANAGED BY ANSIBLE
server {
  server_name joechem.io www.joechem.io;

  root /var/www/joechem/public;
  index  index.php index.html index.htm;
  access_log /var/log/nginx/joechem.access.log combined;
  error_log  /var/log/nginx/joechem.error.log;

  location / {
    try_files $uri $uri/ /index.php?$query_string;
  }

  location ~ \.php$ {
    try_files $uri =404;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_pass unix:/run/php/php7.2-fpm.sock;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    include fastcgi_params;
  }

  location ~ /\.ht {
    deny all;
  }
  if ( $http_x_forwarded_proto = 'http' ) { return 302 https://$host$request_uri; }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/joechem.io-0001/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/joechem.io-0001/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


}


server {
    if ($host = www.joechem.io) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = joechem.io) {
        return 301 https://$host$request_uri;
    } # managed by Certbot



  listen *:80 default_server;
  listen [::]:80 default ipv6only=on;
  server_name joechem.io www.joechem.io;
    return 404; # managed by Certbot
}
